<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <link href="css/styles.css" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/" style="color: aliceblue;">Kalacak Yer Lazım</a>
                <a class="btn btn-danger" href="/yerarayanlar">Yer Arayanlar</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
							<br>
							<h1 style="color: black;">Lütfen Bilgileri Doldurun</h1>
							<h3 style="color: black;">Eğer barınma ihtiyacınız varsa, bilgilerinizi girin.</h3>
							<h3 style="color: black;">En yakın zamanda bir hayırsever sizi ağırlamak için arayacak.</h3>
                            <form class="form-subscribe" method="POST" style="margin-top: 300px;">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" name="username" placeholder="İsim-Soyisim"/>
                                    </div>

									<div class="col">
                                        <input class="form-control form-control-lg" type="number" name="usercount" placeholder="Kaç Kişisiniz"/>
                                    </div>

									<div class="col">
                                        <input class="form-control form-control-lg" type="tel" name="usertel" id="" minlength="11" maxlength="11" pattern="[0-9]{11}" placeholder="05301239876"/>
                                    </div>

									<div class="col">
                                        <select class="form-control form-control-lg" name="userlocation" id="">
											<option value="ADANA">ADANA</option>
											<option value="ADIYAMAN">ADIYAMAN</option>
											<option value="AFYONKARAHİSAR">AFYONKARAHİSAR</option>
											<option value="AĞRI">AĞRI</option>
											<option value="AMASYA">AMASYA</option>
											<option value="ANKARA">ANKARA</option>
											<option value="ANTALYA">ANTALYA</option>
											<option value="Ardahan">Ardahan</option>
											<option value="Artvin">Artvin</option>
											<option value="Aydın">Aydın</option>
											<option value="Balıkesir">Balıkesir</option>
											<option value="Bartın">Bartın</option>
											<option value="Batman">Batman</option>
											<option value="Bayburt">Bayburt</option>
											<option value="Bilecik">Bilecik</option>
											<option value="Bingöl">Bingöl</option>
											<option value="Bitlis">Bitlis</option>
											<option value="Bolu">Bolu</option>
											<option value="Burdur">Burdur</option>
											<option value="Bursa">Bursa</option>
											<option value="Çanakkale">Çanakkale</option>
											<option value="Çankırı">Çankırı</option>
											<option value="Çorum">Çorum</option>
											<option value="Denizli">Denizli</option>
											<option value="Diyarbakır">Diyarbakır</option>
											<option value="Düzce">Düzce</option>
											<option value="Edirne">Edirne</option>
											<option value="Elazığ">Elazığ</option>
											<option value="Erzincan">Erzincan</option>
											<option value="Erzurum">Erzurum</option>
											<option value="Eskişehir">Eskişehir</option>
											<option value="Gaziantep">Gaziantep</option>
											<option value="Giresun">Giresun</option>
											<option value="Gümüşhane">Gümüşhane</option>
											<option value="Hakkari">Hakkari</option>
											<option value="Hatay">Hatay</option>
											<option value="Iğdır">Iğdır</option>
											<option value="Isparta">Isparta</option>
											<option value="İstanbul">İstanbul</option>
											<option value="İzmir">İzmir</option>
											<option value="Kahramanmaraş">Kahramanmaraş</option>
											<option value="Karabük">Karabük</option>
											<option value="Karaman">Karaman</option>
											<option value="Kars">Kars</option>
											<option value="Kastamonu">Kastamonu</option>
											<option value="Kayseri">Kayseri</option>
											<option value="Kırıkkale">Kırıkkale</option>
											<option value="Kırklareli">Kırklareli</option>
											<option value="Kırşehir">Kırşehir</option>
											<option value="Kilis">Kilis</option>
											<option value="Kocaeli">Kocaeli</option>
											<option value="Konya">Konya</option>
											<option value="Kütahya">Kütahya</option>
											<option value="Malatya">Malatya</option>
											<option value="Manisa">Manisa</option>
											<option value="Mardin">Mardin</option>
											<option value="Mersin">Mersin</option>
											<option value="Muğla">Muğla</option>
											<option value="Muş">Muş</option>
											<option value="Nevşehir">Nevşehir</option>
											<option value="Niğde">Niğde</option>
											<option value="Ordu">Ordu</option>
											<option value="Osmaniye">Osmaniye</option>
											<option value="Rize">Rize</option>
											<option value="Sakarya">Sakarya</option>
											<option value="Samsun">Samsun</option>
											<option value="Siirt">Siirt</option>
											<option value="Sinop">Sinop</option>
											<option value="Sivas">Sivas</option>
											<option value="Şanlıurfa">Şanlıurfa</option>
											<option value="Şırnak">Şırnak</option>
											<option value="Tekirdağ">Tekirdağ</option>
											<option value="Tokat">Tokat</option>
											<option value="Trabzon">Trabzon</option>
											<option value="Tunceli">Tunceli</option>
											<option value="Uşak">Uşak</option>
											<option value="Van">Van</option>
											<option value="Yalova">Yalova</option>
											<option value="Yozgat">Yozgat</option>
											<option value="Zonguldak">Zonguldak</option>
										</select>
                                    </div>
                                    <div class="col-auto">
										<button class="btn btn-success btn-lg" type="submit">Submit</button>
									</div>
                                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>
    </body>
</html>
